*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

:root{
    --logo: rgb(242, 205, 118);
    --enlacesMenu: rgb(242, 205, 118);
    --contenedor__mennu--background-color: rgba(68, 68, 68, 0.7);
    --contenedor__menu--border-color: rgb(242, 205, 118);
    --titular: rgb(242, 205, 118);
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../../../media/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-regular';
    src: url('../../../media/fonts/playfair-display/static/PlayfairDisplay-Regular.ttf');
}
@font-face {
    font-family: 'PlayfairDisplay-bold';
    src: url('../../../media/fonts/playfair-display/static/PlayfairDisplay-Bold.ttf');
}



/* cabecera*/
.cabecera{
    height: 100vh;
    width: 100%;
    border: 0;
    margin: 0;
    display: flex; /* hace que los elementos de la página se puedan ver sobre las imágenes */
    position: fixed; /* fijo la posición porque no habrá ninguna otra sección */
}



/* imágenes */
.sliderImagenes{ /* afecta a todas las etiquetas picture que contienen las imágenes */
    position: absolute; /* coloca todas las imágenes como elementos flotantes */
    width: 100%;
    height: 100vh;
    object-fit: cover; /* escala las imágenes de manera relativa al contenedor para evitar deformaciones al hace la ventana más pequeña*/
    opacity: 0; /* está a cero para luego hacer la transición de imágenes desde la clase activo */
    transition: opacity 1.5s cubic-bezier(0.71, 0.49, 0.53, 0.77); 
}
.mostrar{ /* clase que desde javascript permitirá mostrar las imágenes y su transición de opacidad */
    opacity: 1;
    z-index: -1;
    transition: none;
}





/* Mail */
.cabecera__mail{
    position: absolute; /* posiciona el elemento sobre las imágenes */
    width: 100%; 
    height: 100vh;
    display: flex; /* para alinear el elemento al centro del contenedor */
    align-items: end;
    justify-content: center;
    margin: 0;
    bottom: 5rem; /* gracias al position absolute permite mover el elemento hacia arriba */
    font-family: 'PlayfairDisplay-bold';
    font-size: 1.5rem;
    color: rgb(242, 205, 118);
}





/* Copyright */
.cabecera__copyright{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    margin: .5rem; /* coloca en la misma posición que el navegador */
    bottom: 1.6rem; /* coloca a la misma altura que el h1 del mail */
}
.cabecera__copyright--parrafo{
    font-family: 'PlayfairDisplay-bold';
    font-size: 1.1rem;
    color: rgb(242, 205, 118);
    margin: 0; /* para mantener a la misma altura que el h1 */
}






/* cabecera__contenedor*/
.cabecera__contenedor{
    position: absolute; /* para colocarlo sobre las imágenes y que no le afecte la transición de opacidad */
    height: 100vh;
    width: 10rem; /* para posicionar el contenedor solamente en el margen izquierdo de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem; /* separador entre el contenedor de navegación y el logo */
}



/* cabecera__contenedor__logo-link */ 
 /* hago el tamaño de letra algo más grande,
y dispongo el width del mismo tamaño que el del navegador. */
.cabecera__contenedor__logo-link{
    text-decoration: none; /* quita el subrayado y el color azul que vinen por defecto */
    font-family: 'PlayfairDisplay-bold';
    color: rgb(242, 205, 118);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35rem;
    background-color: rgba(68, 68, 68, 0.7); /* Añade fondo con el mismo color que el navegador y con menor opacidad para ver debajo las imágenes */
    border: 2px solid rgb(242, 205, 118); /* borde del contenedor */
    border-radius: .45rem .45rem;
    margin: 0.5rem;  /* para que el contenedor se vea separado del margen izquierdo */
}

/* .cabecera__contenedor__logo-link:hover */
.cabecera__contenedor__logo-link:hover{ /* cambia color del borde, de la tipografía y del fondo porque es un enlace */
    color: rgb(255, 166, 0); 
    border-color: rgb(255, 166, 0);
    background-color: rgba(89, 89, 89, 0.7);
    transition: .2s;
}



/* cabecera contenedor__menu*/
.cabecera__contenedor__menu{ 
    /* Dispongo el menu en el lado izquierdo de la página en posición vertical y lo bajo hasta el centro. Aplico los mismos colores que al logo. */
    background-color: rgba(68, 68, 68, 0.7);
    border: 2px solid rgb(242, 205, 118);
    border-radius: 1rem 1rem;
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
}


.cabecera__contenedor__menu:hover{
    /* Hago un hover sobre el contenedor del menú para cambiar su color de fondo y el del borde mediante una transición. */
    border-color: rgb(255, 166, 0);
    background-color: rgba(89, 89, 89, 0.7);
    transition: .2s;
}



/* cabecera__contenedor__menu__navegador__lista*/
.cabecera__contenedor__menu__navegador__lista{
    /*Quito el formato de lista y alineo los elementos de la lista del navegador al centro. También los acerco al logo y quito el padding. */
    height: 25rem;
    padding:0;
    margin: 0rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



/* enlaces*/
.enlaces{
    /*Quito el subrayado, cambio el color que viene por defecto en los enlaces y aplico la fuente PlayfairDisplay. */
    text-decoration: none;
    color: rgb(242, 205, 118);
    font-family: 'PlayfairDisplay';

}

/* Hago un hover para que los enlaces aparezcan de color naranja con el ratón sobre ellos. */
.enlaces:hover{
    color:rgb(255, 166, 0);
    transition: .8s;
}

/* Cambio el tamaño del logo de Vimeo (que en realidad es un enlace). */
.logoVimeo{
    width:1.3rem;
}

/* Cambio el tamaño del logo de Vimeo cuando pasa el cursor por encima. */
.logoVimeo:hover{
    transition: .35s;
    transform: scale(1.3);
}



/* Responsive */

@media screen and (max-width:1024px){
    
    .cabecera__contenedor{
        width: 30%;
        height: 100vh;
        gap: 1rem;
    }

    .cabecera__contenedor__logo{
        width: 55%;
        
    }

    .cabecera__contenedor__logo-link{
        margin:0.5rem;
        height: 6vh;
        justify-content: center;
        font-size: 1.3rem;
    }
    
    .cabecera__contenedor__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1.3rem;
    }

    .logoVimeo{
        width: 2.5rem;
    }

    .cabecera__mail{
        font-size: 1.5rem;
        bottom: 4.5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0.5rem;
    }

    .cabecera__copyright--parrafo{
        font-size: 1rem;
    }
}


@media screen and (max-width:930px){
    
    .cabecera__contenedor{
        width: 45%;
        height: 100vh;
        gap: 1rem;
    }

    .cabecera__contenedor__logo{
        width: 55%;
        
    }

    .cabecera__contenedor__logo-link{
        margin:0.5rem;
        height: 6vh;
        justify-content: center;
        font-size: 1.3rem;
    }
    
    .cabecera__contenedor__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1.3rem;
    }

    .logoVimeo{
        width: 2rem;
    }

    .cabecera__mail{
        font-size: 1.5rem;
        bottom: 4.5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0.5rem;
    }

    .cabecera__copyright--parrafo{
        font-size: 1rem;
    }
}


@media screen and (max-width:768px){

    .cabecera__sliderImagenes-contenedor{
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    
    .cabecera__contenedor{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .cabecera__contenedor__logo{
        width: 50%;
    }

    .cabecera__contenedor__logo-link{
        margin:0;
    }
    
    .cabecera__contenedor__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .cabecera__mail{
        font-size: 1.5rem;
        bottom: 5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0;
    }

    .cabecera__copyright--parrafo{
        font-size: 1rem;
    }
}


@media screen and (max-width:576px){

    .cabecera__contenedor{
        bottom: 2rem;
    }

    .cabecera__contenedor__logo{
        width: 70%;
    }

    .cabecera__contenedor__logo-link{
        margin:0;
        height: 10vh;
        justify-content: center;
        font-size: 3rem;
    }
    
    .cabecera__contenedor__menu{
        width: 70%;
        font-size: 2rem;
    }

    .logoVimeo{ /* hace más grande el logo */
        width: 2.5rem;
    }

    .cabecera__mail{
        font-size: 1.6rem;
        bottom: 5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0;
    }

    .cabecera__copyright--parrafo{
        font-size: 1.1rem;
    }
}


@media screen and (max-width:460px){

    .cabecera__contenedor{
        bottom: 2rem;
    }

    .cabecera__contenedor__logo{
        width: 70%;
    }

    .cabecera__contenedor__logo-link{
        margin:0;
        height: 10vh;
        justify-content: center;
        font-size: 2.2rem;
    }
    
    .cabecera__contenedor__menu{
        width: 70%;
        font-size: 1.5rem;
    }

    .logoVimeo{ /* hace más grande el logo */
        width: 2rem;
    }

    .cabecera__mail{
        font-size: 1.1rem;
        bottom: 3.5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0;
        bottom: 1rem;
    }

    .cabecera__copyright--parrafo{
        font-size: 1rem;
    }
}


@media screen and (max-width:360px){

    .cabecera__contenedor{ /* desplaza hacia arriba el contenedor */
        bottom: 1rem;
    }
    .cabecera__contenedor__logo{
        width: 50%; /* hace más ancho el contenedor del logo */
    }

    .cabecera__contenedor__logo-link{ /* le da más altura al contenedor del logo y aumenta el tamaño de la fuente */
        margin:0;
        height: 5vh;
        justify-content: center;
        font-size: 1rem;
    }
    
    .cabecera__contenedor__menu{ /* hace más grande el contenedor y aumenta el tamaño de los enlaces */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 70vh;
        font-size: 1rem;
    }

    .logoVimeo{ /* hace más grande el logo */
        width: 2rem;
    }

    .cabecera__mail{
        /* display: none; */
        font-size: 0.9rem;
        bottom: 2rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        /* display: none; */
        align-items: center;
        margin: 0;
        bottom: 0.5rem;
    }

    .cabecera__copyright--parrafo{
        
        font-size: 0.7rem;
    }
}


@media screen and (max-width:300px){

    .cabecera__contenedor{ /* desplaza hacia arriba el contenedor */
        bottom: 1rem;
    }
    .cabecera__contenedor__logo{
        width: 80%; /* hace más ancho el contenedor del logo */
    }

    .cabecera__contenedor__logo-link{ /* le da más altura al contenedor del logo y aumenta el tamaño de la fuente */
        margin:0;
        height: 10vh;
        justify-content: center;
        font-size: 2rem;
    }
    
    .cabecera__contenedor__menu{ /* hace más grande el contenedor y aumenta el tamaño de los enlaces */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        font-size: 1.5rem;
    }

    .logoVimeo{ /* hace más grande el logo */
        width: 2rem;
    }

    .cabecera__mail{
        font-size: 0.8rem;
        bottom: 3.5rem; /* Lo coloco por encima del texto de copyright */
    }

    .cabecera__copyright{
        align-items: center;
        margin: 0;
    }

    .cabecera__copyright--parrafo{
        font-size: 0.7rem;
    }
}
